/* .rigth {
    float:left;
    width: 100%;
    height: 700px;
    /*margin-right: 20px;
    /* background-color: brown; */

$green: #18c503;

.sg-profilebtn {}

.sg-btn {
    border: 3px solid;
}

.sg-small {
    border: 3px solid;
}